<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Chat</title>
    <link rel="shortcut icon" href="/custom/favicon.gif" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <script src='/jquery/dist/jquery.min.js'></script>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='/custom/custom.css'>
    <script src='/socket.io/socket.io.js'></script>

    <script>
        function scrollDown () {
            var objDiv = document.getElementById('toscroll');
            objDiv.scrollTop = objDiv.scrollHeight; 
        }
        var isActive;
        window.onfocus = function () { isActive = true; document.title = "Unicorn Chat"; }; 
        window.onblur = function () { isActive = false; }; 

        var socket = io.connect(window.location.protocol+'//'+window.location.hostname+':'+window.location.port);

        socket.on('updatechat', function (username, data) {
            var d = new Date();
            $('#conversation').append(
                '<li class="left"><div class="chat-body"><p>[' 
                + d.getHours() + ':' + d.getMinutes() + '] ' + username + ' > ' + data 
                + '</p></div></li>'
            );
            if(!isActive && document.title != "[New] Unicorn Chat") document.title = "[New] Unicorn Chat";
            scrollDown();
        });

        socket.on('server-message', function(data) {
            $('#conversation').append('<p>'+ data + '</p>');
            if(!isActive && document.title != "[New] Unicorn Chat") document.title = "[New] Unicorn Chat";
            scrollDown();
        });

        socket.on('connection-success', function() {
            $('#nickname-send').html('Change');
            $('#data').show();
            $('#activate-browser-notifications').show();
        });

        socket.on('error', function (data) {
            $('#error-message').text(data);
            $('#error-message').show();
            setTimeout(function() {
                $('#error-message').fadeOut(500);
            }, 2000);
        });

        socket.on('updateusers', function(data) {
            $('#users').empty();
            $.each(data, function(key, value) {
                $('#users').append('<div>' + key + '</div>');
            });
        });

        $(function(){
            $('#data').keypress(function(e) {
                if(e.which == 13) {
                    var message = $('#data').val();
                    if(message != '') {
                        $('#data').val('');
                        socket.emit('sendchat', message);
                    }
                }
            });

            $('#nickname-send').click(function() {
                socket.emit('adduser', $('#nickname-input').val());
                $('#nickname-input').val('');
            });

            $('#nickname-input').keypress(function(e) {
                if(e.which == 13) {
                    socket.emit('adduser', $('#nickname-input').val());
                    $('#nickname-input').val('');
                }
            });

            $('#data').hide();
            $('#activate-browser-notifications').hide();
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="height: 100%;">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <p class="dashed-down">Connected Users</p>
                                <div id="users"></div>
                            </div>
                            <div class="col-md-10 dashed-left" id="toscroll">
                                <ul class="chat" id="conversation">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="data" placeholder=" Type in your Message" style="width: 100%;" autofocus/>
                            </div>
                            <div class="col-md-12">
                                <input id="nickname-input" placeholder=" Nickname" autofocus />
                                <button type="button" id="nickname-send">Connect</button>
                                <button type="button" id="activate-browser-notifications">
                                    Activate Browser Notification
                                </button>
                                <span id="error-message"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

