<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Chat</title>
    <link rel="shortcut icon" href="/custom/favicon.gif" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <script src='/jquery/dist/jquery.min.js'></script>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
    <script src='/bootstrap/js/tooltip.js'></script>
    <script src='/bootstrap/js/popover.js'></script>
    <link rel='stylesheet' type='text/css' href='/custom/custom.css'>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/custom/custom.js'></script>
</head>
<body background="/custom/images/bg.jpg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="height: 100%;">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <p class="dashed-down">Connected Users</p>
                                <div id="users"></div>
                            </div>
                            <div class="col-md-10 dashed-left" id="toscroll">
                                <ul class="chat" id="conversation">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="data" placeholder=" Type in your Message" style="width: 100%;" autofocus/>
                            </div>
                            <div class="col-md-12">
                                <input id="nickname-input" placeholder=" Nickname" autofocus />
                                <button type="button" id="nickname-send">Connect</button>
                                <button type="button" id="activate-browser-notifications">
                                    Activate Browser Notification
                                </button>
                                <span id="error-message"></span>
                                <button class="pull-right" id="notify-settings">Notification Center</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.depado.eu/";
        _paq.push(['setTrackerUrl', u+'mypi.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'mypi.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics.depado.eu/mypi.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
