<!DOCTYPE html>
<html>
<head>
    <title>Unicorn Chat</title>
    <link rel="shortcut icon" href="/custom/favicon.gif" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <script src='/jquery/dist/jquery.min.js'></script>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='/custom/custom.css'>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/custom/custom.js'></script>
</head>
<body background="/custom/images/bg.jpg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="height: 100%;">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <p class="dashed-down">Connected Users</p>
                                <div id="users"></div>
                            </div>
                            <div class="col-md-10 dashed-left" id="toscroll">
                                <ul class="chat" id="conversation">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="data" placeholder=" Type in your Message" style="width: 100%;" autofocus/>
                            </div>
                            <div class="col-md-12">
                                <input id="nickname-input" placeholder=" Nickname" autofocus />
                                <button type="button" id="nickname-send">Connect</button>
                                <button type="button" id="activate-browser-notifications">
                                    Activate Browser Notification
                                </button>
                                <span id="error-message"></span>
                                <span class="pull-right" id="notify-settings">
                                    <label style="font-weight: normal;">
                                        <input type="checkbox" name="checkbox" id="notify-on-hl">
                                        Notify me on Highlight
                                    </label>
                                    <label style="font-weight: normal;">
                                        <input type="checkbox" name="checkbox" id="notify-on-message" />
                                        Notify on New Message&nbsp;
                                    </label>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
